nav.i_navigation {
  background: @color-bg;
  border-radius: @border-radius;
  border: 1px solid @color-border;
  ul {
    li {
      padding: @pd-sm @pd-md;
      border-bottom: 1px solid @body-bg;
      &:hover, &.i-active {
        background: @color-pri-hover;
        color: @color-bg;
      }
    }
    li:last-child {
      border-bottom-width: 0;
      &:hover, &.i-active {
        border-radius: 0 0 @border-radius @border-radius;
      }
    }

    li:first-child {
      &:hover, &.i-active {
        border-radius: @border-radius @border-radius 0 0;
      }
    }
  }
}

nav.i-slide {

}

nav.i-top {
  display: inline-block;
  ul {
    flex-direction: row;
    justify-content: flex-start;
    li {
      padding: @pd-sm @pd-md;
      border-bottom: 1px solid @body-bg;
      &:hover, &.i-active {
        background: @color-pri-hover;
        color: @color-bg;
      }
    }
  }
}
